<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
  <form action="login" method="post">
    <div class="form-text">
      <input type="text" class="text" name="username" id="yhm"
             value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
      <input type="password" value="密码" name="password" id="mm"
             onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
    </div>
    <input type="submit"value="GO">
  </form>


</body>
</html>