<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bootweb.mapper.BsmxxMapper">

    <select id="bsmxxe" resultType="com.bootweb.pojo.Bsmxx">
        SELECT ID FROM BSM WHERE id = 5111
    </select>
</mapper>
